@model ParkingNew.Web.Data.Entities.Parking

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Parking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Parking)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre_Parking)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Precio_Parking)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Precio_Parking)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Direccion_Parking)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Direccion_Parking)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Imagen_Parking)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Imagen_Parking)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Estado_Parking)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estado_Parking)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Disponible_Parking)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Disponible_Parking)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Longitud_Parking)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Longitud_Parking)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Latitud_Parking)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Latitud_Parking)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id_Parking">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
