@model IEnumerable<ParkingNew.Web.Data.Entities.Parking>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre_Parking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio_Parking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion_Parking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen_Parking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disponibles)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre_Parking)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio_Parking)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion_Parking)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imagen_Parking)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disponibles)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_Parking">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id_Parking">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_Parking">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
